@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Monoton&family=Montserrat:wght@100;200;400;600;900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #fff;
  color: white;
}
h1 {
  color: #000;
}
h2 {
  font-family: "Comfortaa", cursive;
}
p {
  color: #000;
}
.row {
  position: relative;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
}
/*Clear Fix*/
.row:after {
  content: "";
  display: table;
}
.col {
  display: inline;
  margin: 1em;
}
.column-100 {
  width: 100%;
}
.column-75 {
  width: 72%;
}
.column-50 {
  width: 47%;
}
.column-33 {
  width: 33.333%;
}
.column-25 {
  width: 22%;
}
.center-text {
  text-align: center;
}
footer {
  background-color: red;
  color: #fff !important;
  min-height: 8em;
  text-align: center;
  width: 100%;
}
footer p{
    color:#fff;
    margin-top:2em;
    padding-top:1em;
    font-family: "Monoton", cursive;
}
footer a{
    color:#fff;
    font-size:2em;
    margin-left:1em;
    margin-right:1em;
}
footer a:hover{
    color:#111;
}

/*Font and text styles */

.montFont {
  font-family: "Montserrat", sans-serif;
}
.comfortFont {
  font-family: "Comfortaa", cursive;
}
.monoFont {
  font-family: "Monoton", cursive;
}
.light {
  font-weight: 100;
}
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 600;
}
.veryBold {
  font-weight: 900;
}

/*Other Styles*/
nav {
  width: 100%;
  height: 3em;
  background-color: red;
}
.navLinks {
  margin-top: 1em;
  padding-top: 1em;
}
.navLinks a {
  background-color: #000;
  color: #fff;
  padding: 1em;
  border-radius: 0.25em;
  text-decoration: none;
  margin-top: 1em;
}
.navLinks a:hover {
  background-color: #777;
  color: #fff;
  padding: 1em;
  border-radius: 0.25em;
  text-decoration: none;
}
.logo {
  float: left;
}
.logo img {
  width: 100%;
  max-width: 100px;
}
.navLinks {
  float: right;
}
.siteTitle {
  color: #fff;
  font-size: 3em;
}
.videoBox {
  position: relative;
  width: 100%;
  height: auto;
  background-color: red;
}
.tv {
  position: absolute;
  width: 100%;
  height: auto;
  pointer-events: none;
}
.videoBox video {
  width: 95%;
  height: auto;
}
.sidebar {
  background-color: red;
  color: #fff;
  text-align: center;
}
.sidebar h1 {
  color: #fff;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}
.sidebar input {
  width: 80%;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 0.75em;
  padding-left: 1em;
}
.aboutImg img{
width:100% !important;
}
.button{
  background-color:#000;
  color:#fff;  
}
.contactFormInput form{
width:75%;
margin-left:auto;
margin-right:auto;
}